<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shuidi.zhanggui.service.dal.mappers.BrandMapper">
    <resultMap id="brandResult" type="com.shuidi.zhanggui.service.dal.entity.Brand">
        <id column="id" property="id"/>
        <result column="brand_no" property="brandNo"/>
        <result column="brand_name" property="brandName"/>
        <result column="description" property="description"/>
    </resultMap>
    <sql id="selectParam">
        id,
        brand_no,
        brand_name,
        description
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultType="com.shuidi.zhanggui.service.dal.entity.Brand">
        SELECT
          <include refid="selectParam"></include>
        FROM
          brand
        WHERE
          id = #{id}
    </select>
    <select id="findList" parameterType="java.util.Map" resultMap="brandResult">
        SELECT
          <include refid="selectParam"></include>
        FROM   brand
        WHERE
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="brandName!=null">
                AND brand_name LIKE concat('%',#{brandName},'%')
            </if>
            <if test="branNo!=null">
                AND brand_no = #{branNo}
            </if>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.shuidi.zhanggui.service.dal.entity.Brand">
        INSERT INTO
            brand(brand_no,
                  brand_name,
                  description)
        VALUES (
          #{brandNo},
          #{brandName},
          #{description}
        );
    </insert>
    <update id="update" parameterType="com.shuidi.zhanggui.service.dal.entity.Brand">
        UPDATE brand
        SET
          brand_name = #{brandName},
          description=#{description}
        WHERE   id = #{id}
    </update>
</mapper>