<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shuidi.zhanggui.service.dal.mappers.CategoryMapper">
    <resultMap id="result" type="com.shuidi.zhanggui.service.dal.entity.Category">
        <id column="id" property="id"/>
        <result column="category_no" property="categoryNo"/>
        <result column="categroy_name" property="categroyName"/>
        <result column="first_category_id" property="firstCategoryId"/>
        <result column="second_category_id" property="secondCategoryId"/>
        <result column="description" property="description"/>
    </resultMap>
    <sql id="selectParam">
        id,
        category_no,
        categroy_name,
        first_category_id,
        second_category_id,
        description
    </sql>

    <select id="getById" resultType="com.shuidi.zhanggui.service.dal.entity.Category">
        SELECT
          <include refid="selectParam"></include>
        FROM
            category
        WHERE
          id = #{id}
    </select>
    <select id="findList" parameterType="java.util.Map" resultMap="result">
        SELECT
          <include refid="selectParam"></include>
        FROM
          category
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="categroyName!=null">
                AND categroy_name LIKE concat('%',#{categroyName},'%')
            </if>
            <if test="categoryNo !=null">
                AND category_no = #{categoryNo}
            </if>
        </where>

    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.shuidi.zhanggui.service.dal.entity.Category">
        INSERT INTO
            category(
              category_no,
              categroy_name,
              first_category_id,
              second_category_id,
              description
              )
        VALUES (
          #{categoryNo},
          #{categroyName},
          #{firstCategoryId},
          #{secondCategoryId},
          #{description}
        );
    </insert>
    <update id="update" parameterType="com.shuidi.zhanggui.service.dal.entity.Category">
        UPDATE
          category
        <set>
            <if test="categroyName!=null">
                category_no = #{categoryNo},
            </if>
            <if test="categoryNo !=null">
                categroy_name = #{categroyName},
            </if>
            <if test="categoryNo !=null">
                description=#{description}
            </if>
        </set>

        WHERE
          id = #{id}
    </update>

    <insert id="insertCategorys" parameterType="java.util.List">
        INSERT INTO
        category(
            category_no,
            categroy_name,
            first_category_id,
            second_category_id,
            description
        )
        VALUES
        <foreach collection="list" item="item" separator="," index="list">
            (
            #{item.categoryNo},
            #{item.categroyName},
            #{item.firstCategoryId},
            #{item.secondCategoryId},
            #{item.description}
            )
        </foreach>
        ;
    </insert>
</mapper>