<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shuidi.zhanggui.service.dal.mappers.GoodsMapper">
    <resultMap id="result" type="com.shuidi.zhanggui.service.dal.entity.Goods">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="goods_no" property="goodsNo"/>
        <result column="description" property="description"/>
        <result column="detail" property="detail"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
    </resultMap>
    <sql id="selectParam">
        id,
        name,
        goods_no,
        detail,
        category_id,
        brand_id,
        description
    </sql>

    <select id="getById" resultType="com.shuidi.zhanggui.service.dal.entity.Goods">
        SELECT
          <include refid="selectParam"></include>
        FROM
          goods
        WHERE
          id = #{id}
    </select>
    <select id="findList" parameterType="java.util.Map" resultMap="result">
        SELECT
          <include refid="selectParam"></include>
        FROM
          goods
        <where>
            <if test="goodsNo!=null">
                AND goods_no = #{goodsNo}
            </if>
            <if test="name!=null">
                AND name LIKE concat('%',#{name},'%')
            </if>
            <if test="categoryId !=null">
                AND category_id = #{categoryId}
            </if>
            <if test="brandId !=null">
                AND brand_id = #{brandId}
            </if>
            <if test="sellingPrice !=null">
                AND selling_price = #{sellingPrice}
            </if>
        </where>

    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.shuidi.zhanggui.service.dal.entity.Goods">
        INSERT INTO
            goods(
                name,
                goods_no,
                detail,
                category_id,
                brand_id,
                description
              )
        VALUES (
          #{name},
          #{goodsNo},
          #{detail},
          #{categoryId},
          #{brandId},
          #{description}
        );
    </insert>
    <update id="update" parameterType="com.shuidi.zhanggui.service.dal.entity.Goods">
        UPDATE
        goods
        <set>
            <if test="name!=null">
                 name =#{name}
            </if>
            <if test="detail !=null">
                detail = #{detail}
            </if>
            <if test="categoryId !=null">
                categoryId = #{categoryId}
            </if>
            <if test="brandId !=null">
                brand_id = #{brandId}
            </if>
            <if test="description !=null">
                description = #{description}
            </if>
        </set>
        WHERE
          id = #{id}
    </update>
</mapper>